.base-custom-flow-card__inner-container {
  position: relative;
  min-width: 190px;
  min-height: 75px;
  background-color: white;
  //   border: 1px solid var(--line-color);
  border-radius: 5px;
  border: 1px solid;

  display: flex;
  flex-direction: column;
}

.base-flow-card__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 7px;
  border-bottom: 1px solid;
}

.base-flow-card__title-text {
  font-size: 15px;
}

.base-flow-card__body-container {
  padding: 7px;
}

.base-flow-card__settings-icon {
  cursor: pointer;
  font-size: 20px;
}
