.flow-sidebar-text-input__input {
  //   background-color: red;
  width: 100%;
  padding: 3px;
  padding-left: 10px;
  border-radius: 3px;
  border: 1px solid var(--line-color);
  outline: none;
  font-size: 16px;
}
