.tab-component__container {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  user-select: none;
  cursor: pointer;
}

.tab-component__title {
  font-size: 0.9rem;
  font-weight: 400;
}

.tab-component__active-indicator {
  height: 3px;
  margin-top: 7px;
  border-radius: 10px;
}

.tab-component__active {
  background-color: var(--primary-color);
  width: 108%;
  margin-left: -4%;
}
