.heading-component__container {
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 30px;
  min-height: 120px;
  padding-top: 20px;
  padding-left: 30px;
}

.heading-component__title {
  font-size: 38px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: auto;
  padding-bottom: 5px;
}

.heading-component__description {
  font-weight: 400;
  color: var(--light-text);
}
